/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: url("./show.jpg") no-repeat center center;
  background-size: cover;
  height: 180vh;
  width: 100%;
}

/* Menu */
.texto1 i{
  color: white;
  font-size: 2.0rem;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 800;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* Fim menu */

.cont{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:  #454545;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color:  #454545;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

.texto1{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.0rem;
  font-weight: 700;
  border: 2px solid black;
  padding: 10px;
}

.texto1 a{
  color: gold;
}

/* Player */

.player1{
  width: 100% ;
  height: 900px;
    background: url("./sp.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.player{
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper{
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.track-art{
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow:0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius: 190px;
}
.now-playing{
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
}
.track-name{
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
}
.track-artist{
  margin-top: 5px;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  color: white;
}
.active{
  color: white;
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
  opacity: 1.0;
}
.slider_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.seek_slider,
.volume_slider{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83a9ff;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: pointer;
  border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
  opacity: 1.0;
}
.seek_slider{
  width: 60%;
}
.volume_slider{
  width: 30%;
}
.current-time,
.total-duration{
  padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
  padding: 10px;
  color: white;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
  cursor: pointer;
  color: white;
}
.randomActive{
  color: white;
}
.rotate{
  animation: rotation 8s infinite linear;
}

.redes{
  width: 100%;
  height: 200px;
  background-color: black;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redes a{
  font-size: 4.0rem;
  color: white;
  margin-left: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.soci{
  color: #fff;
  margin-right: 30px;
}

.soci i{
  font-size: 3.0rem;
  padding: 0 14px;
}



/* MENU RESPOSIVE */

@media (max-width: 609px){
  .texto1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    z-index: 1;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


@keyframes rotation{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(359deg);
  }
}
.loader{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke{
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0px 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate{
  50%{
      height: 20%;
      background: #4286f4;
  }
  100%{
      height: 100%;
  }
}
.stroke:nth-child(1){
  animation-delay: 0s;
}
.stroke:nth-child(2){
  animation-delay: 0.3s;
}
.stroke:nth-child(3){
  animation-delay: 0.6s;
}
.stroke:nth-child(4){
  animation-delay: 0.9s;
}
.stroke:nth-child(5){
  animation-delay: 0.6s;
}
.stroke:nth-child(6){
  animation-delay: 0.3s;
}
.stroke:nth-child(7){
  animation-delay: 0s;
}
